@page "/categories"

@inject IDbContextFactory<ButcherShopContext> DbFactory

<h3>カテゴリーマスタ</h3>

<a href="/categories/new" class="btn btn-primary" role="button">カテゴリーを追加する</a>

<table class="table">
    <thead>
        <tr>
            <th>カテゴリー名</th>
            <th>よみがな</th>
            <th>並び順</th>
            <th>更新日時</th>
        </tr>
    </thead>
    <tbody>
        @if (categories is null)
        {
            <p><em>読み込み中です...</em></p>
        }
        else
        {
            @foreach (var category in categories)
            {
                <tr>
                    <td><a href="/categories/@category.CategoryID">@category.CategoryName</a></td>
                    <td>@category.Yomigana</td>
                    <td>@category.SortOrder</td>
                    <td>@category.EditedDatetime</td>
                </tr>
            }

        }
    </tbody>
</table>

@code {
    private List<Category>? categories;

    protected override async Task OnInitializedAsync()
    {
        var context = DbFactory.CreateDbContext();

        if (context is not null && context.Categories is not null)
        {
            categories = await context.Categories.OrderBy(c => c.SortOrder).ToListAsync();
        }
    }
}
