@page "/products"

@inject IDbContextFactory<ButcherShopContext> DbFactory

<h3>商品マスタ</h3>

<a href="/products/new" class="btn btn-primary" role="button">商品を追加する</a>

<table class="table">
    <thead>
        <tr>
            <th>商品名</th>
            <th>よみがな</th>
            <th>並び順</th>
            <th>更新日時</th>
        </tr>
    </thead>
    <tbody>
        @if (products is null)
        {
            <p><em>読み込み中です...</em></p>
        }
        else
        {
            @foreach (var product in products)
            {
                <tr>
                    <td><a href="/products/@product.UnitID">@product.ProductName</a></td>
                    <td>@product.Yomigana</td>
                    <td>@product.SortOrder</td>
                    <td>@product.EditedDatetime</td>
                </tr>
            }

        }
    </tbody>
</table>

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        var context = DbFactory.CreateDbContext();

        if (context is not null && context.Products is not null)
        {
            products = await context.Products.OrderBy(c => c.SortOrder).ToListAsync();
        }
    }
}
