@page "/products/{ProductID:int}"

@inject IDbContextFactory<ButcherShopContext> DbFactory
@inject NavigationManager Nav

<style>
    .row {
        margin-bottom: 16px;
    }
</style>

@if (Product is null)
{
    <p><em>読み込み中です...</em></p>
}
else
{
    <RadzenTemplateForm Data="Product" Submit="@(async (Product arg) => { SubmitAsync(arg); })">
        <div class="row">
            <div class="col-md-12">
                <RadzenFieldset>
@*                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="カテゴリー名" for="ProductName" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Id="ProductName" Name="ProductName" @bind-Value="Product.ProductName" />
                            <RadzenRequiredValidator Component="ProductName" Text="カテゴリー名は必ず入力してください" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="よみがな" for="Yomigana" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Id="Yomigana" Name="Yomigana" @bind-Value="Product.Yomigana" />
                            <RadzenRequiredValidator Component="Yomigana" Text="よみがなは必ず入力してください" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="並び順" for="SortOrder" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric style="width: 100%;" Id="SortOrder" Name="SortOrder" @bind-Value="Product.SortOrder" />
                            <RadzenRequiredValidator Component="SortOrder" Text="並び順は必ず入力してください" />
                        </div>
                    </div>*@
                    <div class="row justify-content-center">
                        <div class="col-md-8" style="margin-top: 16px;">
                            <RadzenButton ButtonStyle="ButtonStyle.Light" style="display: inline-block; margin-right: 20px;" Text="戻る" Click="@Cancel" IsBusy="Busy" />
                            <RadzenButton ButtonType="ButtonType.Submit" class="btn btn-secondary" Style="margin-right: 40px;" Text="更新する" IsBusy="Busy" />
                            <RadzenButton ButtonType="ButtonType.Button" class="btn btn-danger" Text="削除する" Click="@(async (_) => { DeleteAsync(); })" IsBusy="Busy" />
                        </div>
                    </div>
                </RadzenFieldset>
            </div>
        </div>
    </RadzenTemplateForm>
}

@if (Error)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">@ErrorMessage</div>
        </div>
    </div>
}



@code {
    [Parameter]
    public int ProductID { get; set; }

    private Product? Product;

    private bool Busy;

    private bool Error;

    private string ErrorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();

        Product = await context.Products.FirstOrDefaultAsync(c => c.ProductID == ProductID);
    }

    private void Cancel()
    {
        Nav.NavigateTo("products");
    }

    /// <summary>
    /// 必須項目が未入力の場合、Submitメソッドはよびだされない。<br>
    /// RadzenRequiredValidator
    /// </summary>
    /// <param name="arg"></param>
    private async Task SubmitAsync(Product arg)
    {
        if (Busy)
        {
            return;
        }

        try
        {
            Busy = true;
            Error = false;
            ErrorMessage = string.Empty;

            using var context = await DbFactory.CreateDbContextAsync();

            Product? dbProduct = await context.Products.FirstOrDefaultAsync(c => c.ProductID == ProductID);
            if (dbProduct is null)
            {
                Error = true;
                ErrorMessage = "このデータは削除されているため更新できません。戻るボタンをクリックして一覧に戻ってください。";
                return;
            }

            if (dbProduct.EditedDatetime > arg.EditedDatetime)
            {
                Error = true;
                ErrorMessage = "このデータは既に更新されているため更新できません。戻るボタンをクリックして一覧に戻ってください。";
                return;
            }

            int nameSameCount = await context.Products.CountAsync(c => c.ProductID != ProductID && c.ProductName == arg.ProductName.Trim());
            if (nameSameCount > 0)
            {
                Error = true;
                ErrorMessage = "同じ商品名で既に登録されているため更新できません。";
                return;
            }

            dbProduct.ProductName = arg.ProductName.Trim();
            dbProduct.Yomigana = arg.Yomigana.Trim();
            dbProduct.SortOrder = arg.SortOrder;
            dbProduct.EditedDatetime = DateTime.Now;
            // TODO User管理
            dbProduct.EditedUserID = 1;
            var affectedRows = await context.SaveChangesAsync();
            Nav.NavigateTo("products");
        }
        catch (Exception ex)
        {
            Error = true;
            ErrorMessage = ex.Message;
        }
        finally
        {
            Busy = false;
            // 再レンダリングされないため、StateHasChangedメソッドを実行する。
            StateHasChanged();
        }
    }

    private async Task DeleteAsync()
    {
        if (Busy)
        {
            return;
        }

        try
        {
            Busy = true;
            Error = false;
            ErrorMessage = string.Empty;

            using var context = await DbFactory.CreateDbContextAsync();

            Product? dbProduct = await context.Products.FirstOrDefaultAsync(c => c.ProductID == ProductID);
            if (dbProduct is null)
            {
                Error = true;
                ErrorMessage = "このデータは削除されているため更新できません。戻るボタンをクリックして一覧に戻ってください。";
                return;
            }

            context.Products.Remove(dbProduct);
            await context.SaveChangesAsync();
            Nav.NavigateTo("products");
        }
        catch (Exception ex)
        {
            Error = true;
            ErrorMessage = ex.Message;
        }
        finally
        {
            Busy = false;
            // 再レンダリングされないため、StateHasChangedメソッドを実行する。
            StateHasChanged();
        }
    }
}
